/*

  1. GENERAL
  2. HERO-FORM
  3. CARDS SECTION

*/

/* GENERAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Kanit", sans-serif;
}

/* HERO-FORM */
.hero {
  padding: 20px 20px 0px 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  border: 2px solid gray;
  border-radius: 20px;
  background-color: white;
  align-items: center;
  gap: 50px;
}

.hero img {
  width: 300px;
}

.hero_form form {
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 20px;
}

.hero_form form input {
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  background-color: rgb(235, 234, 234);
}
.btn {
  background: none;
  border: none;
}

.btn:hover {
  cursor: pointer;
}

.btn img {
  width: 60px;
}
.btn img:hover {
  transform: scale(1.3);
}

/* CARDS SECTION*/

.cards_section {
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.card_list {
  padding: 20px 0;
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 60px;
}

.card_list div {
  background-color: rgb(255, 243, 135);
  border: 2px solid rgb(220, 153, 71);
  border-radius: 20px;
  padding: 20px;
  min-width: 290px;
  gap: 10px;
  display: flex;
  justify-content: space-evenly;
}

@media screen and (min-width: 768px) {
  .hero {
    margin: 20px 100px;
  }

  .pkm_list li {
    min-width: 400px;
  }
}

@media screen and (min-width: 1200px) {
  body {
    font-size: 24px;
  }

  .hero {
    margin: 20px 200px;
  }

  .pkm_list li {
    min-width: 600px;
  }
}
