.main {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin: 16px 0px;
  border: 1px solid gray;
  border-radius: 20px;
  background-color: rgb(70, 70, 70);
  width: 40%;
}
.main:hover {
  cursor: pointer;
}
