.main {
  color: rgb(209, 205, 255);
  h2 {
    font-size: 28px;
    margin-bottom: 5px;
  }
  input {
    background-color: rgba(123, 122, 190, 0.37);
    border: none;
    padding: 10px;
    border-radius: 20px;
    color: white;
  }
}
