@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap");

/*

  1. GENERAL
  2. HERO-FORM
  3. CARDS SECTION
  4. MEDIA QUERIES

*/

/* GENERAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kanit", sans-serif;
}

html {
  min-height: 100vh;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Kanit", sans-serif;
}

/* HERO-FORM */
.hero {
  padding: 20px 20px 0px 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  border: 2px solid gray;
  border-radius: 20px;
  background-color: white;
  align-items: center;
  gap: 50px;
}

.hero img {
  width: 300px;
}
.hero_form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
}
.hero_form form {
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 20px;
}

.hero_form form input {
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  background-color: rgb(235, 234, 234);
}
.btn {
  background: none;
  border: none;
}

.btn:hover {
  cursor: pointer;
}

.btn img {
  width: 60px;
}
.btn img:hover {
  transform: scale(1.3);
}

/* CARDS SECTION*/

.cards_section {
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.card_list {
  padding: 20px 0;
  list-style: none;
  display: flex;
  align-items: center;

  gap: 60px;
}

.card_list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background-color: rgb(255, 243, 135);
  border: 2px solid rgb(220, 153, 71);
  border-radius: 20px;
  padding: 20px;
  align-items: center;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
}
.card img {
  width: 150px;
  border-radius: 10px;
}

.buttons {
  display: flex;
  gap: 20px;
}

.buttons button {
  min-width: 60px;
  padding: 3px;

  background-color: rgb(255, 202, 55);
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.481);
  border: none;
  border-radius: 10px;
}

.buttons button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.searchbar {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.259);
  border-radius: 10px;
  border: none;
  min-width: 250px;
  padding: 5px;
}

/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
  .hero {
    margin: 20px 100px;
  }

  .pkm_list li {
    min-width: 400px;
  }

  .card_list {
    margin: 20px 100px;
  }
}

@media screen and (min-width: 1200px) {
  body {
    font-size: 20px;
  }

  .hero {
    margin: 20px 200px;
  }

  .pkm_list li {
    min-width: 600px;
  }
  .card_list {
    margin: 20px 200px;
  }

  .searchbar {
    min-width: 500px;
    font-size: 22px;
  }
}
