.Friend {
  color: rgb(219, 219, 219);
  display: flex;
  flex-direction: column;
}
.friend-button {
  color: white;
  font-size: 20px;
  margin-bottom: 30px;
}
.friend-button:hover {
  transform: scale(1.2);
}

.nickname {
  margin-bottom: 0;
}
.img {
  width: 30px;
  border: 1px solid white;
  border-radius: 100%;
  background-color: rgb(103, 255, 103);
}

.buttons {
  display: flex;
  justify-content: right;
  gap: 10px;
}

.mins {
  margin-top: 0;
  font-size: 12px;
  margin-left: -1px;
}
