.App {
  background-color: rgb(68, 59, 71);
  scroll-behavior: smooth;
}

.maincontent {
  margin: 0px 90px;
  display: flex;
  align-items: flex-start;
  gap: 60px;
  justify-content: center;
}

@media only screen and (max-width: 900px) {
  .maincontent {
    flex-direction: column;
  }
}
