.Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }
}

.container {
  margin: 0 auto;
  width: min(88%, 1200px);
}

.navbar {
  display: flex;
}

.navbar-ul {
  display: flex;
  gap: 3rem;
  padding: 0;

  li {
    display: inline-block;
    a {
      text-decoration: none;
    }
  }
}
