body {
  a {
    color: rgb(203, 91, 255);
    text-decoration: none;
  }
}

.App {
  text-align: center;

  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    h3 {
      margin-bottom: 8px;
    }
  }

  .links {
    display: flex;
    justify-content: space-evenly;
  }
}
